In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as  plot

data = pd.read_csv("../../Salary_Dataset_with_Extra_Features.csv")
data.head(2)

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android

### make a company anaiys

get data

In [31]:
def company_deatils(name : str):
  company_data  =  data[data["Company Name"].str.lower() == name.lower()]

  #company_level
  dashboard_data = {
    "overall_rating" : np.mean(company_data["Rating"]),
    "Jobs_role" : list(np.unique(company_data["Job Roles"])),
    "Jobs_status" : list(np.unique(company_data["Employment Status"])),
    "Company_location" : list(np.unique(company_data["Location"]))
  }

  #roles level

  roles_emp_status = company_data.groupby(by=["Job Roles", "Employment Status"]).agg({
    "Salary" : "mean",
    "Salaries Reported" : "sum",
  }).reset_index()

  roles_location = company_data.groupby(by=["Job Roles", "Employment Status", "Location"]).agg({
    "Salary" : "mean",
    "Salaries Reported" : "sum",
  }).reset_index()



  return dashboard_data, roles_location, roles_emp_status



dashboard_data, roles_location, roles_emp_status = company_deatils("Amazon")
dashboard_data, roles_location, roles_emp_status

({'overall_rating': 3.8,
  'Jobs_role': ['Android',
   'Backend',
   'Database',
   'Frontend',
   'IOS',
   'Java',
   'Python',
   'SDE',
   'Testing',
   'Web'],
  'Jobs_status': ['Contractor', 'Full Time', 'Intern'],
  'Company_location': ['Bangalore',
   'Chennai',
   'Hyderabad',
   'Jaipur',
   'Kolkata',
   'Madhya Pradesh',
   'Mumbai',
   'New Delhi',
   'Pune']},
    Job Roles Employment Status        Location        Salary  \
 0    Android         Full Time       Bangalore  2.640000e+05
 1    Android         Full Time       Hyderabad  6.240000e+05
 2    Android         Full Time       New Delhi  1.900000e+06
 3    Android            Intern       New Delhi  9.840000e+05
 4    Backend         Full Time       Bangalore  2.268000e+06
 5    Backend         Full Time       Hyderabad  3.300000e+06
 6    Backend         Full Time       New Delhi  2.600000e+06
 7   Database         Full Time       Bangalore  2.066667e+06
 8   Frontend         Full Time       Bangalore  1.446667e+06
 9   Frontend         Full Time       Hyderabad  3.300000e+06
 10  Frontend         Full Time       New Delhi  6.000000e+05
 11  Frontend            Intern       New Delhi  1.200000e+05
 12       IOS         Full Time       New Delhi  2.400000e+06
 13      Java         Full Time         Chennai  6.666667e+05
 14      Java         Full Time       Hyderabad  4.560000e+05
 15    Python         Full Time       Hyderabad  5.040000e+05
 16       SDE        Contractor       Bangalore  5.000000e+05
 17       SDE        Contractor       Hyderabad  1.750000e+06
 18       SDE        Contractor          Mumbai  1.300000e+06
 19       SDE        Contractor       New Delhi  1.000000e+05
 20       SDE         Full Time       Bangalore  1.425926e+06
 21       SDE         Full Time         Chennai  1.407895e+06
 22       SDE         Full Time       Hyderabad  1.324615e+06
 23       SDE         Full Time          Jaipur  4.680000e+05
 24       SDE         Full Time         Kolkata  2.872500e+06
 25       SDE         Full Time  Madhya Pradesh  2.056000e+05
 26       SDE         Full Time          Mumbai  6.345000e+05
 27       SDE         Full Time       New Delhi  1.058118e+06
 28       SDE         Full Time            Pune  1.311111e+06
 29       SDE            Intern       Bangalore  3.608000e+05
 30       SDE            Intern         Chennai  5.865000e+05
 31       SDE            Intern       Hyderabad  6.592000e+05
 32       SDE            Intern         Kolkata  2.050000e+06
 33       SDE            Intern  Madhya Pradesh  5.220000e+05
 34       SDE            Intern          Mumbai  9.240000e+05
 35       SDE            Intern       New Delhi  6.146667e+05
 36       SDE            Intern            Pune  5.880000e+05
 37   Testing         Full Time       Bangalore  3.000000e+05
 38   Testing         Full Time       Hyderabad  4.500000e+05
 39       Web         Full Time       Bangalore  1.000000e+05
 40       Web            Intern       Bangalore  5.520000e+05

     Salaries Reported
 0                   2
 1                   1
 2                   1
 3                   1
 4                   7
 5                   1
 6                   1
 7                   3
 8                   7
 9                   1
 10                  1
 11                  1
 12                  1
 13                  3
 14                  1
 15                  3
 16                  3
 17                  2
 18                  2
 19                  1
 20               1241
 21                173
 22                555
 23                  2
 24                  5
 25                  2
 26                 23
 27                189
 28                 31
 29                267
 30                 20
 31                 49
 32                  1
 33                  2
 34                  1
 35                 11
 36                  3
 37                  5
 38                  3
 39                  8
 40                  2  ,
    Job Roles Employment Status        Salary  Salaries Reported
 0    Android         Full Time  7.630000e+05                  4
 1    Android            Intern  9.840000e+05                  1
 2    Backend         Full Time  2.495333e+06                  9
 3   Database         Full Time  2.066667e+06                  3
 4   Frontend         Full Time  1.648000e+06                  9
 5   Frontend            Intern  1.200000e+05                  1
 6        IOS         Full Time  2.400000e+06                  1
 7       Java         Full Time  6.140000e+05                  4
 8     Python         Full Time  5.040000e+05                  3
 9        SDE        Contractor  1.116667e+06                  8
 10       SDE         Full Time  1.302078e+06               2221
 11       SDE            Intern  6.289375e+05                354
 12   Testing         Full Time  4.000000e+05                  8
 13       Web         Full Time  1.000000e+05                  8
 14       Web            Intern  5.520000e+05                  2)